.KillingFloor{
    height: 800px;
    width: 100vw;
}

.pangasienica{
    height: 800px;
    width: 50px;
    background-color: brown;
    position: absolute;
    left: 45vw;
}

.wyrwidab{
    height: 50px;
    width: 50px;
    background-color: coral;
    position: absolute;
    top: 750px;
    left: 40vw;
}

.ciulik{
    background-color: brown;
    width: 70px;
    height: 20px;
    position: absolute;
    top: 50px
    /* left: 47vw; */
}